/*################################################################*/
/* CSS by Florian Bucher */
/* Stuctur of elements */
/* Designed for displays widht >s 1300px */
/*################################################################*/


/*********************************************/
/* Overall Element Properties */
body {
}

input, button {
	width: 	10em;
}


/*********************************************/
/* Wrapper */

body > #wrapper {	
	width: 		80em;
	margin: 	0.5em auto; /* Centers on page */
	padding: 	0.5em;
	box-shadow:	0 0 1.5em black;		
}

/*********************************************/
/* header seciton */
#wrapper > header {	
	clear:		both;
	margin: 	0 0 0.4em 0;	
	position:	relative;	
	min-height: 5em;
	box-shadow: 0 0 0.5em black;
	
}

header > h1 {
	margin: 	0 1.5em;
	position: 	absolute;
	bottom:		0.4em;
}

header > #cssSelection {
	position:	absolute;
	top: 		0;
	right: 		0;
	display:	inline-block;
	padding: 	0.1em 1em;
}

#cssSelection > ul {
	padding: 			0;
	margin: 			0 0.1em;
	list-style-type:	none;
}

#cssSelection > ul > li {
	padding: 		0 0 0 0.4em;
	margin: 		0 0.4em 0 0;
	float: 			left;
	cursor:			pointer;
}

#cssSelection > ul > li:first-child {
	border-left: 	0;
}


/*********************************************/
/* Navigation */
#wrapper > nav {
	float: 		left;
	width: 		10em;	
	margin:	 	0;
	position:	relative;	
	box-shadow: 0 0 0.5em black;
}

nav > h3 {
	margin: 		0.3em;
	padding: 		0 0.3em;
	border-bottom: 	0.2em solid #333300;
}

nav > ul {
	margin: 			0;	
	padding: 			0;
	list-style-type:	none;
}

nav > ul > li {
	margin:	 	0.2em 0.3em;
	padding:	0;
}

nav > .validator {
	margin: 0.3em 0.6em;
	
}

/*********************************************/
/* Content */

#wrapper > section {
	margin: 		0;
	margin-left:	10.4em;
	padding: 		0.1em 1.6em;
	min-height: 	400px;	
	position:		relative;	
	box-shadow: 	0 0 0.5em black;
}

/* Canvas ****************************/
section #lblWelcomeBack{
	display: 	none;
}

section > canvas {
	width: 				30em;
	height: 			15em;
	background-color: 	#FFFFFF;
	border: 			0.1em solid black;
	
}

/* Bildergalerie *********************/
section > section {
	margin: 0;
}

section > #thumbnails {
	margin: 		0.5em auto;
	text-align: 	center;
	overflow:		auto;
	display: 		inline-block;
	width:			100%;
	white-space: 	nowrap;
}

#thumbnails > img {
	box-shadow: 	0 0 0.3em black;
	margin: 		0.2em 0.5em;
	cursor:			pointer;
	width: 			8em;
	vertical-align:	middle;
}

section > #control	 {
	margin: 	0.3em auto 0.3em;	
	width:		32em;
	height:		1.6em;	
	text-align:	center;	
}

#control > button	 {
	cursor:	pointer;
	height: 100%;
	box-shadow: 0 0 0.3em black;
}

#control > button:first-child {
	float: 	left;
	margin: 0 0.5em;
}

#control > button:last-child {
	float:	right;
	margin: 0 0.5em;
}

section > #imgcontainer {
	width:		32em;		
	margin: 	0.1em auto;
	position: 	relative;
}

#imgcontainer > #picture {
	text-align:	center;
}

#imgcontainer > #picture > img {
	width:	100%;
	height: auto;
	box-shadow:	0 0 0.3em black;
}

#imgcontainer> #loading{
	width:				100%;
	position:			absolute;
	text-align:			center;
	display:			none;
}

#imgcontainer> #loading > img {
	margin: 			1em;	
	padding: 			2.5em;	
	background-color: 	rgba(44,44,44,0.3);	
}

/*********************************************/
/* Footer */

#wrapper > footer {
	clear:		both;
	margin:		0;
	padding: 	0.1em 0.4em;
	margin-top: 0.3em;	
	box-shadow: 0 0 0.5em black;
}

footer > #currentTime {
	float:	right;
}